body {
    color: #ffffff;
}
#app {
    min-height: 100vh;
    background: rgb(26 27 38);
}
.notify {
    z-index: 100;
}
/* Nav Bar */
#logo {
    height: 80px;
}
.nav-item-empty {
    width: 50px;
}
#navbar .social-link {
    display: inline-block;
    line-height: 45px;
    text-decoration: none;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
}
#navbar .social-link:hover {
    color: #FFFFFF;
}
#navbar .social-link img {
    height: 45px;
    padding: 2px;
}
.nav-link {
    padding-left: 12px!important;
    padding-right: 12px!important;
}
a.nav-link {
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
}
.nav-link:focus, .nav-link:hover, .nav-link.nav-link-active {
    color: #FFFFFF;
}
@media (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1500px;
    }
}
@media (min-width: 1800px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1680px;
    }
}
.dropdown-menu {
    font-size: 13px;
    padding: 1em;
    color: #FFFFFF;
    border-radius: 5px;
    background: #1f1f23;
    border-color: #1f1f23;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(255, 255, 255, 0.3) 0px 3px 7px -3px;
}
.dropdown-menu hr {
    margin: 0.5rem 0;
}

.dropdown-item {
    color: rgba(255, 255, 255, 0.7);
}
.dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
    color: #FFFFFF;
    background: #1f1f23;
}
.dropdown-menu .h3 {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    display: flex;
}
.dropdown-menu .h3 img {
    margin-right: 10px;
}
.charts-dropdown {
    width: 420px;
}
@media (max-width: 767px) {
    .charts-dropdown {
        width: auto;
    }
}
/* Nav Bar */

/* Content Loader */
@keyframes dyinglight {
    15% {
        transform: scale(1.6)
    }
    50% {
        transform: rotate(-89deg)
    }
    100% {
        transform: rotate(-90deg)
    }
}
#content-loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #020202;
    z-index: 1000;
}
.content-loader-container {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    transform-origin: 50% 50% 0;
    animation: dyinglight 1s ease infinite;
    backface-visibility: hidden;
}
.content-loader-corner-top:before, .content-loader-corner-top:after, .content-loader-corner-bottom:before, .content-loader-corner-bottom:after {
    position: absolute;
    width: 10px;
    height: 10px;
    color: #808080;
    content: '';
}
.content-loader-corner-top:before {
    border-left: 1px solid;
    border-top: 1px solid;
    top: -4px;
    left: -4px;
}
.content-loader-corner-top:after {
    border-right: 1px solid;
    border-top: 1px solid;
    top: -4px;
    right: -4px;
}
.content-loader-corner-bottom:before {
    border-left: 1px solid;
    border-bottom: 1px solid;
    bottom: -4px;
    left: -4px;
}
.content-loader-corner-bottom:after {
    border-right: 1px solid;
    border-bottom: 1px solid;
    bottom: -4px;
    right: -4px;
}
.content-loader-square {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    background: #808080;
}
/* Content Loader */

/* Loader */
@keyframes opacitychange{
    0%, 100%{
        opacity: 0;
    }

    60%{
        opacity: 1;
    }
}
.dot-opacity-loader {
    width: 100px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}
.dot-opacity-loader span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #f16857;
    opacity: 0;
}
.dot-opacity-loader span:nth-child(1) {
    animation: opacitychange 1s ease-in-out infinite;
}
.dot-opacity-loader span:nth-child(2) {
    animation: opacitychange 1s ease-in-out 0.33s infinite;
}
.dot-opacity-loader span:nth-child(3) {
    animation: opacitychange 1s ease-in-out 0.66s infinite;
}
/* Loader */

/* Buttons */
.btn {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 400;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 0.85rem;
    font-size: 0.875rem;
    border-radius: 0.1875rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn.btn-lg {
    font-size: 1rem;
    padding: 1rem 3rem;
    border-radius: 0.1875rem;
}
.btn-gradient-primary {
    background-image: linear-gradient(to bottom right, #10a9fb, #87d3f5);
    border: 0;
}
.btn-secondary {
    color: #10a9fb;
    border: 1px solid #10a9fb;
    border-radius: 2px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
.btn-secondary:hover {
    color: #FFFFFF;
    background: #10a9fb;
}

.btn-gradient-success {
    background-color: #389466;
    border-color: #389466;
}
.btn-gradient-success:hover {
    background-color: #42b883
}
.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    box-shadow: 0 2px 2px 0 rgb(248 249 250 / 14%), 0 3px 1px -2px rgb(248 249 250 / 20%), 0 1px 5px 0 rgb(248 249 250 / 12%);
}
.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    box-shadow: 0 2px 2px 0 rgb(248 249 250 / 14%), 0 3px 1px -2px rgb(248 249 250 / 20%), 0 1px 5px 0 rgb(248 249 250 / 12%);
}
.badge {
    display: inline-block;
    padding: 0.375rem 0.5625rem;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 2px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.badge-outline-success {
    color: #389466;
    border: 1px solid #389466;
}
.badge-outline-warning {
    color: #da8115;
    border: 1px solid #da8115;
}
.badge-outline-danger {
    color: #F95360;
    border: 1px solid #F95360;
}
.icon-action {
    color: #F95360;
    text-decoration: none;
}
.icon-action:hover {
    color: #F95360;
}
.button-secondary {
    font-size: 1rem;
    color: #10a9fb;
    text-decoration: none!important;
    transition: color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}
.button-secondary:hover {
    color: #87d3f5;
}
.button-tertiary {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none!important;
    transition: color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}
.button-tertiary:hover {
    color: rgba(255, 255, 255, 0.8);
}
/* Buttons */

/* Content */
.main-content {
    min-height: calc(100vh - 317px - 3rem);
    position: relative;
}
.text-left {
    text-align: left!important;
}
.text-right {
    text-align: right!important;
}
.text-center {
    text-align: center!important;
}
.text-muted {
    color: #9a9a9a !important;
}
.align-items-center {
    align-items: center !important;
}
.justify-content-between {
    justify-content: space-between !important;
}
.d-flex {
    display: flex !important;
}
.font-weight-light {
    font-weight: 300 !important;
}
.pt-3 {
    padding-top: 1rem;
}
.mt-3 {
    margin-top: 1rem;
}
.mb-3 {
    margin-bottom: 1rem;
}
.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}
.mt-4 {
    margin-top: 1.5rem !important;
}
.grid-margin {
    margin-bottom: 30px;
}
.border-white {
    border: 1px solid #FFFFFF;
}
.banner {
    width: 100%;
}
.article-link {
    text-decoration: none!important;
    color: #FFFFFF!important;
}
.featured-articles .article {
    padding: 5px;
    background-color: rgba(31, 31, 35, 0.8);
    border-radius: 5px;
    box-shadow: rgb(255 255 255 / 30%) 0px 2px 8px 0px;
    margin-bottom: 10px;
}
.featured-articles .article .article-summary {
    position: relative;
    padding: 10px 10px 10px 0px;
}
.featured-articles .article .article-publish-date {
    position: absolute;
    right: 10px;
    top: 0px;
}
.article .article-view {
    position: absolute;
    right: 10px;
    bottom: -8px;
    display: flex;
}
.article-view img {
    width: 30px;
}
.pagination {
    float: right;
}
.pagination .page-item {
    width: 38px;
}
.pagination .page-item .page-link {
    width: 100%;
    text-align: center;
    background-color: #3b3c44;
    color: #10a9fb;
    border: 1px solid #10a9fb;
}
.pagination .page-item.disabled .page-link {
    background-color: #686868;
    color: #34b2f5;
}
.pagination .page-item.active .page-link {
    background-color: #10a9fb;
    color: #3b3c44;
}
.pagination .page-item .page-link:hover {
    background-color: #34b2f5;
    color: #686868;
}
.content-wrapper {
    min-height: calc( 100vh - 400px - 8rem );
    padding: 2.25rem;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 2px 8px 0px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(31, 31, 35, 0.8);
    background-clip: border-box;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    border: none;
    border-radius: 8px;
}
.card .card-body {
    padding: 1.5rem 1.5rem;
    flex: 1 1 auto;
    min-height: 1px;
}
.icon-box {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    flex-shrink: 0;
}
.icon-box-bg-image-warning {
    background-image: linear-gradient(to bottom right, #ef952e, #9d5606);
}
.icon-box-bg-image-info {
    background-image: linear-gradient(to bottom right, #52b1c6, #095768);
}
.icon-box-bg-image-danger {
    background-image: linear-gradient(to bottom right, #d24571, #580e53);
}
.icon-box-bg-image-success {
    background-image: linear-gradient(to bottom right, #42b883, #0a7c49);
}
.icon-box .gradient-card-icon {
    font-size: 1.4rem;
}
#visitors-chart-wrapper, #users-chart-wrapper {
    height: 300px; position: relative;
}
#visitors-chart, #users-chart {
    height: 100%; width: 100%;
    position: inherit;
    z-index: 100;
}
#total-visitors, #total-users {
    position:absolute;
    left:0px;
    top:0px;
    height:100%;
    width:100%;
    line-height:300px;
    text-align:center;
    font-size:18px;
    font-family:inherit;
}
.highcharts-credits {
    display: none!important;
}
/* Content */

/* Modals */
.modal-content {
    background-color: #1e1e24;
}
.modal-button-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.modal-button-group > * {
    margin: 0.25rem;
}
/* Modals */

/* Carousel */
.featured-story-carousel {
    padding: 20px 20px;
    background-color: rgba(31, 31, 35, 0.8);
    border-radius: 5px;
    box-shadow: rgb(255 255 255 / 30%) 0px 2px 8px 0px;
}
.featured-story-carousel .article-publish-date {
    position: absolute;
    bottom: 0px;
    right: 12px;
}
.featured-story-carousel .article-view {
    float: right;
    display: flex;
}
.carousel-indicators {
    margin-bottom: 0px;
}
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
/* Carousel */

/* JCarousel */
.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.jcarousel ul {
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li {
    float: left;
    padding: 0px 5px;
    height: 200px;
    display: table;
}
.jcarousel li a {
    display: table-cell;
    vertical-align: middle;
}
.jcarousel img {
    display: block;
    width: 100%;
    height: auto !important;
}
/* JCarousel */

/* DataTable */
.dataTables_wrapper .dataTables_filter {
    margin-bottom: 2rem;
    float: left;
}
.dataTables_wrapper .dataTables_filter input {
    padding: 11px;
    color: #FFFFFF;
}
.dataTables_wrapper .create-btn {
    float: right;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
table.dataTable th, table.dataTable td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
table.dataTable thead th {
    padding: 1.25rem 0.9375rem;
}
table.dataTable tbody td {
    padding: 1.25rem 0.9375rem;
}
table.dataTable.stripe tr.odd {
    background-color: rgba(137, 137, 137, 0.3);
}
/* DataTable */

/* Article Editor */
.ck-editor__editable {
    min-height: 500px;
    color: #000000;
}
.ck-editor {
    width: 100%!important;
}
/* Article Editor */

/* Footer */
.footer table.table-contact {
    width: 100%;
}
.footer table.table-contact, .footer table.table-contact td {
    border: 1px solid #ffffff;
    border-collapse: collapse;
}
.footer table.table-contact td {
    padding: 0.5rem;
    text-align: center;
}
.footer table.table-contact .avatar {
    width: 64px;
    height: 64px;
    border-radius: 100%;
}
.footer table.table-contact .contact-link {
    font-size: 1.5rem;
    color: #10a9fb;
    text-decoration: none!important;
    transition: color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.footer table.table-contact .contact-link:hover {
    color: #87d3f5;
}
.outer {
    display: table;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
/* Footer */

/* Form Controls */
.form-group {
    margin-bottom: 1.5rem;
}
.form-group .form-control {
    display: block;
    width: 100%;
    color: #e9e6e6;
    background: transparent;
    padding: 0.94rem 1.94rem;
    border-radius: 0;
    font-size: .9375rem;
    border: 1px solid rgba(101, 103, 119, 0.21);
    font-weight: 400;
    height: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-group .form-control:focus {
    border-color: #10a9fb;
}
.form-control.is-invalid {
    border-color: #F95360!important;
}
.invalid-feedback {
    color: #F95360!important;
}
.form-check {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0;
}
.form-check .form-check-label {
    min-height: 18px;
    display: block;
    margin-left: 1.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
}
.form-check-label {
    margin-bottom: 0;
}
.form-check .form-check-label input {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
}
.form-check .form-check-label input[type="checkbox"] + .input-helper:before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: solid #10a9fb;
    border-width: 2px;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
.form-check .form-check-label input[type="checkbox"] + .input-helper:after {
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition: all;
    transition-duration: 0s;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    font-family: themify;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    content: '\e64c';
    font-size: .75rem;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 2px;
}
.form-check .form-check-label input[type="checkbox"]:checked + .input-helper:before {
    background-color: #10a9fb;
    border-width: 0;
}
.form-check .form-check-label input[type="checkbox"]:checked + .input-helper:after {
    width: 18px;
    opacity: 1;
    line-height: 18px;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
/* Form Controls */

/* Login/Register Pages */
.auth-form {
    background: rgba(31, 31, 35, 0.8);
    padding: 3rem 1.5rem 3rem 1.5rem;
}
@media (min-width: 576px) {
    .auth-form {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
    }
}
.auth-form .auth-form-btn {
    height: 50px;
    line-height: 1.5;
}
.font-big {
    font-size: 1.5rem!important;
}
/* Login/Register Pages */

/* Create Article Page */
#article-thumbnail-preview {
    width: 100%;
    display: block;
}
/* Create Article Page */

/* Tweets Table */
.flow-full-table td {
    text-align: center;
}
.flow-full-table td:nth-child(1) {
    padding: 5px 0px 5px 5px;
    width: 50px;
}
.flow-full-table td:nth-child(2) {
    padding: 5px;
}
.flow-full-table td .news {
    white-space: normal;
    text-align: left;
    padding: 5px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}
.flow-full-table td .news .twitter-media {
    width: 100%;
    border-radius: 10px;
}
.flow-full-table td .news .created_at {
    float: right;
    padding-top: 7px;
}
.flow-full-table td a {
    text-decoration: none;
}
.flow-full-table td a.news-text {
    color: #FFFFFF;
}
.flow-full-table tr:nth-child(odd) {
    background-color: rgba(137, 137, 137, 0.3);
}
.flow-full-table tr:nth-child(even) {
    background-color: rgba(31, 31, 35, 0.8);
}
/* Tweets Table */

/* Price Charts */
.price-chart-container {
    margin-bottom: 20px;
}
.mini-chart {
    height: 250px!important;
}
.tv-ticker-item-tape__short-name {
    font-size: 25px!important;
    color: #FFFFFF;
}
.js-copyright-label {
    display: none!important;
}
.tradingview-widget-container-fixed {
    margin: auto;
}
/* Price Charts */

/* Embed Youtube */
.embed-youtube {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Embed Youtube */

/* Tooltip */
.tooltip-inner {
    padding: 20px 35px;
    background-color: #141414;
    border-radius: 7px;
    max-width: 400px;
}
.tooltip-arrow::before {
    border-top-color: #141414!important;
}
/* Tooltip */

/* Comments */
.comments-count {
    font-size: 1rem;
    font-weight: normal;
    margin-left: 10px;
}
.views-count {
    display: flex;
    float: right;
    font-weight: normal;
}
.views-count img {
    width: 30px;
}
.comment-item {
    display: flex;
}
.comment-item .form-group {
    margin-bottom: 1rem;
}
.user-avatar-alternative {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
}
.comment-wrapper {
    width: 100%;
    margin-left: 10px;
}
.comment-timestamp {
    font-size: 0.75rem;
}
.comment {
    margin-bottom: 0px;
}
.comment-react {
    margin-bottom: 10px;
}
.comment-react .show-reply-form {
    margin-right: 20px;
}
.comment-react .comment-react-like {
    margin-right: 10px;
}
.comment-react .comment-delete, .comment-react .comment-restore {
    margin-left: 10px;
    color: #F95360;
}
.comment {
    border-radius: 5px!important;
}
.comment-deleted {
    color: #F95360;
}
.btn-comment-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: normal;
}
.expand-comment {
    cursor: pointer;
}
/* Comments */

/* Settings */
#supporter-company-logo {
    margin: 0 auto;
}
#edit-supporter-company-logo {
    margin: 0 auto;
}
/* Settings */